<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/all.min.css" />
    <link rel="stylesheet" href="../style/bootstrap.min.css" />
    <link rel="stylesheet" href="../style/view.css" />
    <link rel="stylesheet" href="../style/style.css" />
    <title>Tелебашня</title>
</head>

<body>

    <header class="header">
        <div class="header_bash d-flex flex-column">
            <div class="container pt-3">
                <div class="cont_item d-flex align-items-center justify-content-between">
                    <div class="logo">
                        <img class="logoo img-fluid"
                            src="https://uzbekistan.travel/themes/travel/assets/img/uzlogo_white.png" alt="" />
                    </div>
                    <div class="sidebar__menu">
                        <div class="sidebar__menu-line"></div>
                        <div class="sidebar__menu-line"></div>
                        <div class="sidebar__menu-line"></div>
                        <div class="sidebar__menu-line"></div>
                    </div>
                    <div class="drop_list d-flex gap-5">
                        <div class="dropdown">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Города
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li>
                                    <a class="dropdown-item" href="../view/left.html">Ташкент</a>
                                </li>
                                <li><a class="dropdown-item" href="../view/left.html">
                                        туризм</a></li>
                                <li><a class="dropdown-item" href="#!">Телебашния</a></li>
                                <li><a class="dropdown-item" href="../view/tatu.html">Тату</a></li>
                                <li><a class="dropdown-item" href="../view/metro.html">Метро</a></li>
                            </ul>
                        </div>
                        <div class="dropdown">
                            <a class="dropdown-toggle" href="#" role="button" id="" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Туризм для всех
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li>
                                    <a class="dropdown-item" href="#">Спортивный туризм</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Этнический туризм</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Молодежный туризм</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Гастрономический <br />
                                        туризм</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Медицинский туризм</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Культурный туризм</a>
                                </li>
                            </ul>
                        </div>
                        <div class="dropdown">
                            <a class="dropdown-toggle" href="#" role="button" id="" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Путешественнику
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li>
                                    <a class="dropdown-item" href="#">Общая информация</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Общая информацияСистема <br />
                                        «Uzbekistan. Safe travel</a>
                                </li>
                                <li><a class="dropdown-item" href="#">GUARANTEED»</a></li>
                                <li>
                                    <a class="dropdown-item" href="#">10 правил юного путешественника</a>
                                </li>
                            </ul>
                        </div>
                        <div class="dropdown">
                            <a class="dropdown-toggle" href="#" role="button" id="" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                контакт
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li>
                                    <a class="dropdown-item" href="tel:+99 899 629-22-31">Tel : +99 899 629-22-31</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="search d-flex">
                        <div class="search_box">
                            <i class="search_icon fa-solid fa-magnifying-glass"></i>
                        </div>
                    </div>
                </div>
                <div class="inpt d-flex align-items-center justify-content-center">
                    <div class="input">
                        <input class="search_inp" type="search" name="" id="search" placeholder="" />
                    </div>
                    <div class="poisc">
                        <h3>поиск</h3>
                    </div>
                </div>
            </div>
            <section class="section__one">
                <div class="container">
                    <div class="title__text d-flex flex-column">
                        <h1 class="tashkent_title d-flex flex-start">
                            Tелебашня
                        </h1>

                        <p class="tashkent_text d-flex flex-start">
                            Телевизионная башня в районе Сумида
                        </p>
                    </div>
                </div>
            </section>
        </div>
    </header>
    <main>
        <section class="main__left">
            <div class="m_left">
                <div class="container">
                    <div class="main_left-box">
                        <img class="img-fluid mt-5 col-12" style="border-radius: 15px" src="../images/orbashniya.jpg"
                            alt="" />
                        <p class="m_left-text">
                            Кто любит заниматься спортом на свежем воздухе и вдали от
                            больших мегаполисов, находится в нужном месте в Узбекистане.
                            Мягкий климат позволяет заниматься большинством видов спорта
                            практически круглый год. Для классического зимнего спорта есть
                            четыре хорошо оборудованных горных курорта: Чимган, Бельдерсай,
                            Амирсой и Янгиабад. Их число вскоре будет расти. Узбекистан
                            предлагает многочисленные возможности для экстремальных видов
                            спорта благодаря его обширным и разнообразным ландшафтам, хотя
                            эти виды спорта все еще являются новыми в стране. К ним
                            относятся: – экстремальные лыжи, сноуборд; – мотогонки
                            (Motorcycle racing), ралли (Rallying), мотокросс; –
                            скейтбординг, горный велосипед, скалолазание, каньонинг и
                            парапланеризм.
                        </p>
                        <div class="m_left-yotube d-flex md-col-6 col-12">
                            <iframe width="640" height="500" src="https://www.youtube.com/embed/dV8qdcJVY_4"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>

                            <div class="d-flex flex-column col-lg-6 col-12">
                                <h3 class="m__yotube-title">Узбекистане</h3>
                                <p class="m__yotube-text">
                                    Узбекистане
                                    Википедия
                                    Являются одним из основных по величине этнических меньшинств страны, наряду с
                                    таджиками и казахами, а также одна из крупнейших диаспор русских за пределами
                                    современной России. По данным последней общесоюзной переписи, в республике проживало
                                    1,6 млн русских. Государственные Переписи населения с 1991 года в независимом
                                    Узбекистане не проводились, и точных данных о количестве русского населения по
                                    республике нет. По официальным данным Госкомстата Республики Узбекистан по состоянию
                                    на 1 января 2021 года проживали 720 300Читать дальше
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="footer__nav container d-flex gap-sm-5 sm-2">
            <div class="footer__item">
                <h3 class="footer__title text-white">Туристам</h3>
                <ul class="footer__list">
                    <li><a href="#!" class="footer__link">Памятка туристу</a></li>
                    <li><a href="#!" class="footer__link">FAQ</a></li>
                    <li><a href="#!" class="footer__link">Реестр туроператоров</a></li>
                    <li><a href="#!" class="footer__link">Онлайн опросник</a></li>
                    <li><a href="#!" class="footer__link">Внутренний туризм</a></li>
                    <li><a href="#!" class="footer__link">Спорт</a></li>
                </ul>
            </div>
            <div class="footer__item">
                <h3 class="footer__title text-white">Агентствам</h3>
                <ul class="footer__list">
                    <li><a href="#!" class="footer__link">Продвижение туров</a></li>
                    <li>
                        <a href="#!" class="footer__link">Законодательство в <br />
                            сфере туризма</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Туристические <br />
                            маршруты</a>
                    </li>
                </ul>
            </div>
            <div class="footer__item">
                <h3 class="footer__title text-white">Данные</h3>
                <ul class="footer__list">
                    <li><a href="#!" class="footer__link">Публичные данные</a></li>
                    <li><a href="#!" class="footer__link">Прибытие туристов</a></li>
                    <li>
                        <a href="#!" class="footer__link">Политика конфиденциальности</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Пользовательское соглашение</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Лицензионное соглашение</a>
                    </li>
                    <li><a href="#!" class="footer__link">Карта сайта</a></li>
                </ul>
            </div>
            <div class="footer__item">
                <h3 class="footer__title text-white">СМИ</h3>
                <ul class="footer__list">
                    <li><a href="#!" class="footer__link">Онлайн журналы</a></li>
                    <li><a href="#!" class="footer__link">Новости туризма</a></li>
                    <li><a href="#!" class="footer__link">Новости спорта</a></li>
                    <li><a href="#!" class="footer__link">Новости Узбекистана</a></li>
                    <li><a href="#!" class="footer__link">О нас пишут</a></li>
                    <li><a href="#!" class="footer__link">Рейтинги</a></li>
                </ul>
            </div>
            <div class="footer__item">
                <h3 class="footer__title text-white">Контакты</h3>
                <div class="footer_div">
                    <a class="footer_cal" href="tel:+998 71 200 00 88">+998 99 629 22 31</a>
                    <p class="footer_vremya">
                        <i class="fa-solid fa-location-dot text-white"></i>
                        Время работы: 9:00- <br />
                        18:00, Пн-Пт
                    </p>
                </div>
                <div class="foorter_email">
                    <a class="footer_email" href="mailto:help@uzbekistan.travel">
                        tashkent@uzbekistan.travel
                    </a>
                    <p class="footer_email-text">По любым вопросам</p>
                    <h4 class="text-white">
                        Единый Call-центр безопасного туризма - 1173
                    </h4>
                </div>

                <div class="footer_icons d-flex gap-4">
                    <div class="there_icons d-flex gap-3">
                        <div class="facebook">
                            <i class="face fa-brands fa-facebook-f"></i>
                        </div>
                        <div class="instagram">
                            <i class="insta fa-brands fa-instagram"></i>
                        </div>
                        <div class="pienter">
                            <i class="piernt fa-brands fa-pinterest-p"></i>
                        </div>
                    </div>
                    <div class="there_icons d-flex gap-3">
                        <div class="telegram">
                            <i class="teleg fa-brands fa-telegram"></i>
                        </div>
                        <div class="youtube">
                            <i class="yout fa-brands fa-youtube"></i>
                        </div>
                        <div class="twiter">
                            <i class="twit fa-brands fa-twitter"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script>
        const sidebarMenu = document.querySelector(".sidebar__menu");
        const dropList = document.querySelector(".drop_list");
        console.log(dropList);
        sidebarMenu.addEventListener("click", () => {
            dropList.classList.toggle("active");
            sidebarMenu.classList.toggle("active");
        });
    </script>
    <script src="../js/bootstrap.bundle.min.js"></script>
</body>

</html>