<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="../images/pagelogo.jpg"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="../style/all.min.css" />
    <link rel="stylesheet" href="../style/bootstrap.min.css" />
    <link rel="stylesheet" href="../style/view.css" />
    <link rel="stylesheet" href="../style/style.css" />
    <title>Амир Темур || ⚜️</title>
  </head>

  <body>
    <header class="header">
      <div class="header_view d-flex flex-column">
        <div class="container pt-3">
          <div
            class="cont_item d-flex align-items-center justify-content-between"
          >
            <div class="logo">
              <img
                class="logoo img-fluid"
                src="https://uzbekistan.travel/themes/travel/assets/img/uzlogo_white.png"
                alt=""
              />
            </div>
            <div class="sidebar__menu">
              <div class="sidebar__menu-line"></div>
              <div class="sidebar__menu-line"></div>
              <div class="sidebar__menu-line"></div>
              <div class="sidebar__menu-line"></div>
            </div>
            <div class="drop_list d-flex gap-5">
              <div class="dropdown">
                <a
                  class="dropdown-toggle"
                  href="#"
                  role="button"
                  id="dropdownMenuLink"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Города
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <li>
                    <a class="dropdown-item" href="#!">Ташкент</a>
                  </li>
                  <li><a class="dropdown-item" href="../view/left.html">
                    туризм</a></li>
                  <li><a class="dropdown-item" href="../view/bashniya.html">Телебашния</a></li>
                  <li><a class="dropdown-item" href="../view/tatu.html">Тату</a></li>
                  <li><a class="dropdown-item" href="../view/metro.html">Метро</a></li>
                </ul>
              </div>
              <div class="dropdown">
                <a
                  class="dropdown-toggle"
                  href="#"
                  role="button"
                  id=""
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Туризм для всех
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <li>
                    <a class="dropdown-item" href="#">Спортивный туризм</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Этнический туризм</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Молодежный туризм</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#"
                      >Гастрономический <br />
                      туризм</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Медицинский туризм</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Культурный туризм</a>
                  </li>
                </ul>
              </div>
              <div class="dropdown">
                <a
                  class="dropdown-toggle"
                  href="#"
                  role="button"
                  id=""
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Путешественнику
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <li>
                    <a class="dropdown-item" href="#">Общая информация</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#"
                      >Общая информацияСистема <br />
                      «Uzbekistan. Safe travel</a
                    >
                  </li>
                  <li><a class="dropdown-item" href="#">GUARANTEED»</a></li>
                  <li>
                    <a class="dropdown-item" href="#"
                      >10 правил юного путешественника</a
                    >
                  </li>
                </ul>
              </div>
              <div class="dropdown">
                <a
                  class="dropdown-toggle"
                  href="#"
                  role="button"
                  id=""
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                контакт
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <li>
                    <a class="dropdown-item" href="tel:+99 899 629-22-31"
                      >Tel : +99 899 629-22-31</a
                    >
                  </li>
                </ul>
              </div>
            </div>
            <div class="search d-flex">
              <div class="search_box">
                <i class="search_icon fa-solid fa-magnifying-glass"></i>
              </div>
            </div>
          </div>
          <div class="inpt d-flex align-items-center justify-content-center">
            <div class="input">
              <input
                class="search_inp"
                type="search"
                name=""
                id="search"
                placeholder=""
              />
            </div>
            <div class="poisc">
              <h3>поиск</h3>
            </div>
          </div>
        </div>
        <section class="section__one">
          <div class="container">
            <div class="title__text d-flex flex-column">
              <h1 class="tashkent_title d-flex flex-start">Ташкент</h1>

              <p class="tashkent_text d-flex flex-start">
                Современный мегаполис
              </p>
            </div>
          </div>
        </section>
      </div>
    </header>

    <main class="main">
      <section class="main_one">
        <div class="container">
          <h3 class="main_one-title">Подарки и сувениры 🛍</h3>
          <p class="main_one-text">
            Гуляя по улицам Ташкента, можно найти множество памятных вещей,
            начиная от мелких безделушек и заканчивая огромными памятными
            сувенирами. Большая часть сувенирных мастерских находится в старых
            медресе и на базаре Чорсу. Там вы сможете найти абсолютно все!
            Вырезанные из дерева поделки, глиняная посуда, национальная одежда,
            и даже выкованные в местных кузницах ножи и кинжалы!
          </p>
          <div class="main_one-box mt-5">
            <div class="main_one-item">
              <img class="img-fluid" src="../images/pagepic.jpg" alt="" />
            </div>
            <div class="main_one-item">
              <img class="img-fluid" src="../images/pagetwo.jpg" alt="" />
            </div>
            <div class="main_one-item">
              <img class="img-fluid" src="../images/pagethere.jpg" alt="" />
            </div>
          </div>
          <div class="main_linking">
            <a class="main_one-link" href="../view/left.html"
              >Приобрести сувениры и подарки онлайн</a
            >
          </div>
        </div>
      </section>
      <section class="main_two">
        <div class="container">
          <div class="main_two-item">
            <h3 class="main_one-title mt-5">История 🏺</h3>
            <img
              class="img-fluid col-12 history__img"
              src="../images/history.jpg"
              alt=""
              style="height: 500px; border-radius: 15px"
            />
            <p class="main_two-text mt-3">
              <span>История Ташкента</span> насчитывает более 2 тысяч лет. Одни
              из первых упоминаний о городе были найдены в летописях, написанных
              еще во II веке до н.э. В древних китайских источниках Ташкент
              назывался Ши, что в переводе означает камень, а в раннем
              средневековье Шаш или Чач. Ученые пришли к мнению, что тюркские
              племена, заселившиеся на этой территории позднее, позаимствовали
              название, так как «таш» в тюркских языках тоже переводится как
              камень. Из-за своего выгодного расположения город считался одним
              из основных пунктов на Шёлковом пути.
            </p>
            <img
              class="img-fluid gap-sm-5 mt-3"
              style="z-index: 999"
              src="../images/metro.jpg"
              alt=""
            />
          </div>
        </div>
      </section>
      <section>
        <div class="container">
          <div class="location mt-5">
            <h3 class="main_one-title">Карта 🗺</h3>
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d5848.508298798211!2d74.5708881!3d42.8674796!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2s!4v1648884516116!5m2!1sru!2s"
              width="100%"
              height="450"
            ></iframe>
          </div>
        </div>
      </section>
    </main>

    <footer class="footer">
      <div class="footer__nav container d-flex gap-sm-5 sm-2">
        <div class="footer__item">
          <h3 class="footer__title text-white">Туристам</h3>
          <ul class="footer__list">
            <li><a href="#!" class="footer__link">Памятка туристу</a></li>
            <li><a href="#!" class="footer__link">FAQ</a></li>
            <li><a href="#!" class="footer__link">Реестр туроператоров</a></li>
            <li><a href="#!" class="footer__link">Онлайн опросник</a></li>
            <li><a href="#!" class="footer__link">Внутренний туризм</a></li>
            <li><a href="#!" class="footer__link">Спорт</a></li>
          </ul>
        </div>
        <div class="footer__item">
          <h3 class="footer__title text-white">Агентствам</h3>
          <ul class="footer__list">
            <li><a href="#!" class="footer__link">Продвижение туров</a></li>
            <li>
              <a href="#!" class="footer__link"
                >Законодательство в <br />
                сфере туризма</a
              >
            </li>
            <li>
              <a href="#!" class="footer__link"
                >Туристические <br />
                маршруты</a
              >
            </li>
          </ul>
        </div>
        <div class="footer__item">
          <h3 class="footer__title text-white">Данные</h3>
          <ul class="footer__list">
            <li><a href="#!" class="footer__link">Публичные данные</a></li>
            <li><a href="#!" class="footer__link">Прибытие туристов</a></li>
            <li>
              <a href="#!" class="footer__link">Политика конфиденциальности</a>
            </li>
            <li>
              <a href="#!" class="footer__link">Пользовательское соглашение</a>
            </li>
            <li>
              <a href="#!" class="footer__link">Лицензионное соглашение</a>
            </li>
            <li><a href="#!" class="footer__link">Карта сайта</a></li>
          </ul>
        </div>
        <div class="footer__item">
          <h3 class="footer__title text-white">СМИ</h3>
          <ul class="footer__list">
            <li><a href="#!" class="footer__link">Онлайн журналы</a></li>
            <li><a href="#!" class="footer__link">Новости туризма</a></li>
            <li><a href="#!" class="footer__link">Новости спорта</a></li>
            <li><a href="#!" class="footer__link">Новости Узбекистана</a></li>
            <li><a href="#!" class="footer__link">О нас пишут</a></li>
            <li><a href="#!" class="footer__link">Рейтинги</a></li>
          </ul>
        </div>
        <div class="footer__item">
          <h3 class="footer__title text-white">Контакты</h3>
          <div class="footer_div">
            <a class="footer_cal" href="tel:+998 71 200 00 88"
              >+998 99 629 22 31</a
            >
            <p class="footer_vremya">
              <i class="fa-solid fa-location-dot text-white"></i>
              Время работы: 9:00- <br />
              18:00, Пн-Пт
            </p>
          </div>
          <div class="foorter_email">
            <a class="footer_email" href="mailto:help@uzbekistan.travel">
              tashkent@uzbekistan.travel
            </a>
            <p class="footer_email-text">По любым вопросам</p>
            <h4 class="text-white">
              Единый Call-центр безопасного туризма - 1173
            </h4>
          </div>

          <div class="footer_icons d-flex gap-4">
            <div class="there_icons d-flex gap-3">
              <div class="facebook">
                <i class="face fa-brands fa-facebook-f"></i>
              </div>
              <div class="instagram">
                <i class="insta fa-brands fa-instagram"></i>
              </div>
              <div class="pienter">
                <i class="piernt fa-brands fa-pinterest-p"></i>
              </div>
            </div>
            <div class="there_icons d-flex gap-3">
              <div class="telegram">
                <i class="teleg fa-brands fa-telegram"></i>
              </div>
              <div class="youtube">
                <i class="yout fa-brands fa-youtube"></i>
              </div>
              <div class="twiter">
                <i class="twit fa-brands fa-twitter"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script>
      const sidebarMenu = document.querySelector(".sidebar__menu");
      const dropList = document.querySelector(".drop_list");
      console.log(dropList);
      sidebarMenu.addEventListener("click", () => {
        dropList.classList.toggle("active");
        sidebarMenu.classList.toggle("active");
      });
    </script>
    <script src="../js/bootstrap.bundle.min.js"></script>
  </body>
</html>
